<footer>
    <div>
        <a href="<%= ROUTES.HOME.getPath() %>">Home</a>
        <a href="<%= ROUTES.ABOUT.getPath() %>">About</a>
        <a href="<%= ROUTES.CONTACT.getPath() %>">Contact</a>
        <a href="<%= ROUTES.MICROBLOGS.getPath() %>">Blogs</a>
    </div>
    <div>
        <span>&copy; 2025 High Street Gym. All rights reserved.</span>
        <div>
            <a href="<%= ROUTES.PRIVACY_POLICY.getPath() %>">Privacy Policy</a>
            <a href="<%= ROUTES.TERMS_OF_SERVICE.getPath() %>">Terms of Service</a>
        </div>
    </div>
</footer>
